body{
    background-color:#9435da;
       
   
}
h1{
	color:Black;
	font-size:50px;
	text-align:center;
        width: 500px;
        border: 15px, solid gold;
	padding: 50px;
	argin-left: auto;
	margin-right: auto;

}
h2{
color:black;
font-size:25px;
text-align:center;
        width: 500px;
        border: 15px, solid gold;
padding: 50px;
margin-left: auto;
margin-right: auto;

}
h3{
color:black;
font-size:25px;
text-align:center;
        width: 200px;
        border: 15px, solid gold;
padding: 50px;
margin-left: auto;
margin-right: auto;

}

p{
color:black;
        font-size:20px;
text-align:center;
        width: 500px;
        border: 15px, solid gold;
padding: 50px;
margin-left: auto;
margin-right: auto;
}
table, th, td {
border: 2px solid gold;
height: 50px;
        vertical-align: bottom;
        text-align: center;
}
table{
width: 50%;
border: 2px solid;
color:black;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;

}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 300px;
        border: 10px, solid gold;
padding: 10px;
margin-left: auto;
margin-right: auto;

}

.aspire{
color:black;
font-size:20px;
text-align:center;
        width: 500px;
        border: 15px, solid gold;
padding: 50px;
margin-left: auto;
margin-right: auto;
}
iframe{
display: block;
margin-left: auto;
margin-right: auto;
}
.ub{
text-align:center;
        width: 500px;
        border: 15px, solid gold;
padding: 50px;
margin-left: auto;
margin-right: auto;
}